@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 

.row {
    float: left;
}
.col-1 {
    width: 8.3%;
}
.col-2 {
    width: 16.67%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.3%;
}
.col-5 {
    width: 41.6%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.3%;
}
.col-8 {
    width: 66.6%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.3%;
}
.col-11 {
    width: 91.6%;
}
.col-12 {
    width: 100%;
}

.p-1 {
    padding: 0.2rem;
}
.p-2 {
    padding: 0.4rem;
}
.p-3 {
    padding: 0.6rem;
}
.p-4 {
    padding: 0.8rem;
}
.p-5 {
    padding: 0.10rem;
}

.mt-1 {
    margin-top: 0.2rem;
}
.mt-2 {
    margin-top: 0.4rem;
}
.mt-3 {
    margin-top: 0.6rem;
}
.mt-4 {
    margin-top: 0.8rem;
}
.mt-5 {
    margin-top: 1rem;
}
.mt-6 {
    margin-top: 1.2rem;
}
.mt-7 {
    margin-top: 1.4rem;
}
.mt-8 {
    margin-top: 1.6rem;
}
.mt-9 {
    margin-top: 1.8rem;
}
.mt-10 {
    margin-top: 2rem;
}